*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

.notes{
    display: flex;
    height: 100%;
}

.notes-sidebar{
    border-right: 2px solid #ddd;
    padding: 1em;
    width: 300px;
    flex-shrink: 0;
    overflow-y: auto;
}

.add-notes{
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.add-notes:hover{
    background: #00af8c;
}

.note{
    cursor: pointer;
    color: rgb(87, 86, 86);
}

.note:hover{
    background: rgb(227, 226, 226);
    border-radius: 7px;
}

.note-title,
.note-date{
    padding: 10px;
}

.note-title{
    font-size: 1.2em;
}

.note-body{
    padding: 0 10px;
}

.bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    border-top: 1px dashed #ccc;
}

.bottom-content .note-date{
    color: #6d6d6d;
    font-size: 14px;
}

.bottom-content .settings{
    position: relative;
    margin-right: 5px;
   
}

.bottom-content .settings button{
    width: 50px;
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;

    border-radius: 8px;
    outline: none;
    border: none;
    background: none;
    padding: 0.3em;
}

.settings .edit:hover{
    background: pink;
    color: rgb(29, 29, 29);
}

.settings .delete:hover{
    background-color: crimson;
    color: #fff;
}

.enter-notes{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.title,
.body{
    border: none;
    outline: none;
    width: 100%;
}

.title{
    font-size: 3em;
    color: rgb(92, 92, 92);
    font-weight: bold;
}

.body{
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    color: rgb(87, 86, 86);
}